
<!-- ============================================================= SECTION – HERO ============================================================= -->
<section>
  <div id="owl-main" class="height-md owl-inner-nav owl-ui-lg">
    <div class="item" style="background-image: url( <%= asset_url('threecutedogs.jpeg')%>);">
      <div class="container">
        <div id="hero" class="caption vertical-center text-center">
          <h1 id="hero" class="fadeInDown-1 light-color">Welcome to PetPal</h1>
          <p id="hero" class="fadeInDown-2 light-color">Find Pets. Become Pals.</p>
            <div id="hero" class="fadeInDown-3">
            <a href="/users/sign_up" id="hero" class="btn btn-large">Sign Up</a>
            </div><!-- /.fadeIn -->
          </div><!-- /.caption -->
       </div><!-- /.container -->
     </div><!-- /.owl-carousel -->
    <div class="item" style="background-image: url( <%= asset_url('Cute-Penguin-Wallpaper.jpg')%>);">
     <div class="container">
      <div id="hero" class="caption vertical-center text-center">
      <h1 id="hero" class="fadeInDown-1 light-color">Welcome to PetPal</h1>
      <p id="hero" class="fadeInDown-2 light-color">Find Pets. Become Pals.</p>
       <div id="hero" class="fadeInDown-3">
       <a href="/users/sign_up" id="hero" class="btn btn-large">Sign Up</a>
       </div><!-- /.fadeIn -->
      </div><!-- /.caption -->
     </div><!-- /.container -->
    </div><!-- /.owl-carousel -->
    <div class="item" style="background-image: url( <%= asset_url('cute_bunnies.jpg')%>);">
     <div class="container">
      <div id="hero" class="caption vertical-center text-center">
      <h1 id="hero" class="fadeInDown-1 light-color">Welcome to PetPal</h1>
      <p id="hero" class="fadeInDown-2 light-color">Find Pets. Become Pals.</p>
       <div id="hero" class="fadeInDown-3">
       <a href="/users/sign_up" id="hero" class="btn btn-large">Sign Up</a>
       </div><!-- /.fadeIn -->
      </div><!-- /.caption -->
    </div><!-- /.container -->
  </div><!-- /.owl-carousel -->
 </div>
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->
