<div class="row"> 
  <div class="col-md-6 col-centered">
    <h1></h1>
    <h3></h3>
  </div>

</div>

<!-- ============================================================= SECTION – HERO ============================================================= -->
<section>
  <div id="owl-main" class="height-md owl-inner-nav owl-ui-lg">

    <div class="item" style="background-image: url( <%= asset_path('threecutedogs.jpeg')%>);">
      <div class="container">
        <div id="hero" class="caption vertical-center text-center">

          <h1 id="hero" class="fadeInDown-1 light-color">Welcome to PetPal</h1>
          <p id="hero" class="fadeInDown-2 light-color">Find Pets. Become Pals.</p>
          <div id="hero" class="fadeInDown-3">
            <a href="/users/sign_up" id="hero" class="btn btn-large">Sign Up</a>
          </div><!-- /.fadeIn -->

        </div><!-- /.caption -->
      </div><!-- /.container -->

  </div><!-- /.owl-carousel -->

    <div class="item" style="background-image: url( <%= asset_path('Cute-Penguin-Wallpaper.jpg')%>);">
      <div class="container">
        <div id="hero" class="caption vertical-center text-center">

          <h1 id="hero" class="fadeInDown-1 light-color">Welcome to PetPal</h1>
          <p id="hero" class="fadeInDown-2 light-color">Find Pets. Become Pals.</p>
          <div id="hero" class="fadeInDown-3">
            <a href="/users/sign_up" id="hero" class="btn btn-large">Sign Up</a>
          </div><!-- /.fadeIn -->

        </div><!-- /.caption -->
      </div><!-- /.container -->

  </div><!-- /.owl-carousel -->

      <div class="item" style="background-image: url( <%= asset_path('cute_bunnies.jpg')%>);">
      <div class="container">
        <div id="hero" class="caption vertical-center text-center">

          <h1 id="hero" class="fadeInDown-1 light-color">Welcome to PetPal</h1>
          <p id="hero" class="fadeInDown-2 light-color">Find Pets. Become Pals.</p>
          <div id="hero" class="fadeInDown-3">
            <a href="/users/sign_up" id="hero" class="btn btn-large">Sign Up</a>
          </div><!-- /.fadeIn -->

        </div><!-- /.caption -->
      </div><!-- /.container -->

  </div><!-- /.owl-carousel -->

</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->
