<div class="row">
  <div class="col-md-6 col-centered">
    <h1>Welcome to PetPal</h1>
    <h3>where your dreams come true..</h3>


  </div>

  <iframe src="//giphy.com/embed/4anSKzI3IoSgE" width="480" height="329" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p></p>
</div>
