/* line 1, /Users/flatiron/projects/First Project/petpal/app/assets/stylesheets/custom.scss */
.round-image-50 {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  text-align: center;
}
/* line 11, /Users/flatiron/projects/First Project/petpal/app/assets/stylesheets/custom.scss */
.round-image-50 img {
  width: 160%;
}
