.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 160%; }
}

#yehuda-dream{
    position: relative;
  background: #FFF;
    padding-bottom: 60px;
  border: 1px solid #E6E9ED;
  border-bottom-width: 2px;
  border-radius: 3px;
  margin: 30px;
}

#favorite-show-container {
  background-color: rgb(242, 245, 247);
}
#fiddlesticks {
    max-width: 70%;
    height: auto;
}
#favorite-community-border {
  background-color: rgb(242, 245, 247);
  border-left: 1px solid #CED7E0;
}
#superman {
  top: 0px;
  bottom: 40px;
  margin-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-top: 0px;
}
.post-info {
  border-left: 1px solid rgb(26,187,157);
  border-right: 1px solid rgb(26,187,157);
}

.gray-text {
  color: #506A85;
}
.noAnimation {
  animation: none;
  transition: none;
}
